<section class="form-container">
  <header class="form-container__header">
    <h1 class="form-container__heading">
      {{trip.title}}
    </h1>
  </header>

  <h2 class="form-container__subheading">
    Add a location
  </h2>

  <form action="/trips/{{trip.id}}" role="form" method="post">
    <input type="hidden" name="id" value="{{trip.id}}"/>
    <fieldset class="form-container__section">
      <label for="city">
        City
      </label>
      <input type="text" name="city" placeholder='e.g. "Melbourne"'/>
      <label for="country">
        Country
      </label>
      <input type="text" name="country" placeholder='e.g. "Australia"'/>
      <h2 class="form-container__subheading">
        Select all the days from your trip that you will be in this location:
      </h2>
      <div class="form-checkbox">
        {{#each trip.days}}
          <label class="form-checkbox__label" for="{{this.id}}">
            <input class="form-checkbox__checkbox" name="{{this.id}}" type="checkbox" id="{{this.id}}">
            <span class="form-checkbox__item">
              {{ formatFullDateWithDay this.calendarDate}}
            </span>
          </label>
        {{/each}}
      </div>
    </fieldset>
    <div class="form-container__actions">
      <input type="submit" value="Submit"/>
    </div>
  </form>
</section>