<header class="trip-header">
  <div class="trip-header__photo-container">
    <img src="{{trip.media.0.file}}" alt="{{trip.media.0.caption}}" class="trip-header__photo">
  </div>
  <article class="trip-header__info">
    <div>
      <h2 class="trip-header__title">
        {{trip.title}}
      </h2>
        <a href="/trips/edit-locations/{{trip.id}}" class="small-caps">
          {{#ifEqual trip.postedBy user.username}}
            edit trip
          {{/ifEqual}}
        </a>
    </div>
    <p>
      Posted by: {{trip.postedBy}}
    </p>
    <p class="trip__description">
      {{trip.description}}
    </p>
    <ul class="trips-list__interests">
      {{#each trip.interests}}
        <li class="tag">
          {{this}}
        </li>
      {{/each}}
    </ul>
  </article>
</header>

<ol class="trip-calendar">
  {{#each trip.days}}
    <li class="trip-calendar__day">
      <a href="#" class="trip-calendar__link js-trip-day-link {{#if @first}}is-active{{/if}}" data-day-link="{{formatUnix this.calendarDate}}">
        <span class="heading--small-caps">
          {{formatDayOfWeek this.calendarDate}}
        </span>
        <span class="trip-calendar__date">
          {{formatMonthDay this.calendarDate}}
        </span>
      </a>
    </li>
  {{/each}}
</ol>

{{#each trip.days}}
  <section class="trip-day js-trip-day {{#if @first}}is-shown{{/if}}" data-day-content="{{formatUnix this.calendarDate}}">

    <aside class="trip-day__sidebar">
      <section class="trip-day__sidebar-section">
        <h3 class="heading--small-caps">
          Locations
        </h3>
        {{#if this.locations.0.name}}
          {{#each this.locations}}
            <h4 class="heading--medium">
              {{this.name}}, {{this.country}}
            </h4>
          {{/each}}
        {{else}}
          <em>There are no locations for this day.</em>
        {{/if}}
      </section>
    
      {{#if this.travelDetails}}
        <section class="trip-day__sidebar-section">
          <h3 class="heading--small-caps">Travel Details</h3>
          <article class="trip-day__sidebar-simple-content">
            {{{this.travelDetails}}}
          </article>
        </section>
      {{/if}}

      {{#if this.lodging.name}}
        <section class="trip-day__sidebar-section">
          <h3 class="heading--small-caps">Lodging</h3>
          <a href="{{this.lodging.website}}" rel="noopener" target="_blank" class="trip-day__link">
            {{this.lodging.name}}<br>
            {{{this.lodging.address}}}
          </a>
        </section>
      {{/if}}

      {{#if this.sites.0.name}}
        <section class="trip-day__sidebar-section">
          <h3 class="heading--small-caps">Sites</h3>
          {{#each this.sites}}
            <a href="{{this.website}}" rel="noopener" target="_blank" class="trip-day__link">
              {{this.name}}
            </a>
          {{/each}}
        </section>
      {{/if}}
    </aside>
    <article class="trip-day__diary">
      {{#if this.diaryEntry}}
        {{{this.diaryEntry}}}
      {{else}}
        <em>There are no comments entered for this day.</em>
      {{/if}}
    </article>
  </section>
{{/each}}